a:link {
  color: #14d414;
}
a:visited {
  color: green;
}
a:hover {
  text-decoration: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
html {
  background-repeat: repeat;
  background-image: url("../images/68185247 inline 256x256.png");
  background-color: white;
}
#StandardBLTBLTbody {
  display: block;
  margin: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
